:root {
  --ease-in: cubic-bezier(0.49, 0.025, 0.65, 0.65);
  --ease-out: cubic-bezier(0.28, 0.44, 0.49, 1);
  --ease-in-out: cubic-bezier(0.49, 0.025, 0.49, 1);
  --bounce: cubic-bezier(0.6, 0, 0.1, 1.4);
  --ease-in-soft: cubic-bezier(0.49, 0.025, 0.685, 1);
  --ease-out-soft: cubic-bezier(0.28, 0, 0.49, 1);
  --ease-in-out-soft: cubic-bezier(0.72, 0, 0.28, 1);
  --ease-in-out-hard: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-garret: cubic-bezier(0.5, 0, 0, 1);
  --white: #fff;
  --wild-sand: #f4f4f4;
  --gallery: #eaeaea;
  --azalea: #f9cdcd;
  --scorpion: #5e5e5e;
  --tuatara: #252422;
  --cod-gray: #191918;
  --black: #000;
  --white-rgb: 255, 255, 255;
  --wild-sand-rgb: 244, 244, 244;
  --gallery-rgb: 235, 235, 235;
  --azalea-rgb: 249, 205, 205;
  --scorpion-rgb: 94, 94, 94;
  --tuatara-rgb: 37, 36, 34;
  --cod-gray-rgb: 26, 26, 24;
  --black-rgb: 0, 0, 0;
  --background-color: var(--wild-sand);
  --text-color: var(--tuatara);
  --rem-base: 62.5%;
  --font-size-small: 1.1rem;
  --font-size-body: 1.4rem;
  --font-size-large: 1.8rem;
  --line-height-small: 1.14;
  --line-height-body: 1.4;
  --line-height-large: 1.45;
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-family: "SctoGroteskA", sans-serif;
  --letter-spacing: -0.01em;
  --font-size-h1: 4rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2.2rem;
  --font-size-h4: 2rem;
  --font-size-h5: 1.8rem;
  --font-size-h6: 1.6rem;
  --line-height-h1: 0.9;
  --line-height-h2: 1.1;
  --line-height-h3: 1.1;
  --line-height-h4: 1.2;
  --line-height-h5: 1.1;
  --line-height-h6: 1.1;
  --font-weight-h1: var(--font-weight-bold);
  --font-weight-h2: var(--font-weight-bold);
  --font-weight-h3: var(--font-weight-medium);
  --font-weight-h4: var(--font-weight-bold);
  --font-weight-h5: var(--font-weight-bold);
  --font-weight-h6: var(--font-weight-medium);
  --letter-spacing-h1: -0.05em;
  --letter-spacing-h2: -0.05em;
  --letter-spacing-h3: -0.035em;
  --letter-spacing-h4: -0.02em;
  --letter-spacing-h5: -0.02em;
  --letter-spacing-h6: -0.02em;
  --z-noise: 1;
  --z-section: 5;
  --z-header: 10;
  --z-overlay: 90;
  --z-menu: 100;
  --bottom-panel: 1000;
  --grid-width: 100vw;
  --grid-height: 100vh;
  --grid-padding: 5.4vw;
  --grid-column-count: 6;
  --grid-gutter: 1.6rem;
  --header-height: calc(5rem + 5vw);
  --sticky-top: 80;
  --bottom-panel-height: 0rem;
  --pages-section: 12.5vw;
  --caseStudies-section: 14rem;
  --services-section: 8rem;
  --blog-section: 10.4vw;
  --thinking-section: 12.5vw;
  --pages-meta-bar: 6rem;
  --caseStudies-meta-bar: 6rem;
  --services-meta-bar: 6rem;
  --pages-intro-small: 6rem;
  --pages-intro-large: 6rem;
}

@media only screen and (min-width: 2160px) {
  :root {
    --rem-base: 82.5%;
  }
}

@media only screen and (min-width: 1280px) {
  :root {
    --font-size-small: 1.4rem;
    --font-size-body: 1.8rem;
    --font-size-large: 2.2rem;
  }
}

@media only screen and (min-width: 480px) {
  :root {
    --font-size-h1: 4.6rem;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --font-size-h1: 6.25vw;
  }
}

@media only screen and (min-width: 1280px) {
  :root {
    --font-size-h2: 4.2rem;
    --font-size-h3: 3.8rem;
    --font-size-h4: 2.8rem;
    --font-size-h5: 2.2rem;
    --font-size-h6: 2.2rem;
    --grid-padding: 8rem;
    --grid-column-count: 12;
    --grid-gutter: 2rem;
    --header-height: 12.6rem;
    --pages-section: 12.5vw;
    --caseStudies-section: 18.2vw;
    --services-section: 10.4vw;
    --blog-section: 10.4vw;
    --thinking-section: 12.5vw;
    --pages-meta-bar: 8.5rem;
    --caseStudies-meta-bar: 8.5rem;
    --services-meta-bar: 8.5rem;
    --pages-intro-small: 4.1vw;
    --pages-intro-large: 7.8vw;
  }
}

html {
  font-size: var(--rem-base);
  font-variant-ligatures: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

i {
  font-style: italic;
}

sup {
  margin-left: 0.1rem;
  font-size: 50%;
  vertical-align: super;
}

.h1,
h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: var(--font-weight-h1);
  letter-spacing: var(--letter-spacing-h1);
}

.h2,
h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-h2);
  letter-spacing: var(--letter-spacing-h2);
}

.h3,
h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-h3);
  letter-spacing: var(--letter-spacing-h3);
}

.h4,
h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: var(--font-weight-h4);
  letter-spacing: var(--letter-spacing-h4);
}

.h5,
h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  font-weight: var(--font-weight-h5);
  letter-spacing: var(--letter-spacing-h5);
}

.h6,
h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  font-weight: var(--font-weight-h6);
  letter-spacing: var(--letter-spacing-h6);
}

.meta {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

html {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

html.is-fading body {
  transition: color 1s var(--ease-in-out-soft),
    background-color 0.65s var(--ease-in-out-soft);
}

html.is-locked {
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  will-change: background-color, color;
}

a,
button {
  color: inherit;
}

figure svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:focus,
input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  transition-delay: 9999s;
}

main {
  position: relative;
}
